* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.first-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

nav {
  display: flex;
}

.logo {
  width: 20px;
  height: 20px;
}

.titles {
  display: flex;
  gap: 20px;
}

.title-section {
  text-decoration: none;
  color: #767676;
}

.button1 {
  background-color: #04ddb2; 
  border-radius: 25px;
  color: #fff;
  padding: 8px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
}

.second-section {
  display: flex;
  justify-content: center;
}

.third-section {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.fifth-section {
  display: flex;
  justify-content: space-between;
}

.first-row, .second-row, .third-row, .fourth-row {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.fifth-row {
  display: flex;
}

.dropdown {
  display: none;
}

.center {
  display: flex;
  justify-content: space-around;
  width: 100%;
 }

 .container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
 }

@media only screen and (min-width: 550px) and (max-width: 2000px){
  .dropbtn, .dropdown-content {
    display: none;
  }
}




@media only screen and (min-width: 280px) and (max-width: 550px) {
  body {
    overflow-x: hidden;
  }
  .dropbtn {
    background-color: #04ddb2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
   .dropMenu {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .titles, .button {
    display: none;   
  } 

  .first-section{
    padding: 15px;
  }

  .logo {
    width: 15px;
    height: 15px;
  }
  
  .button1 {
    border-radius: 20px;
    width: 80px;
  }

  .title-section {
    font-size: 12px;
  }

  p {
    font-size: 10px;
    white-space: nowrap;
  }

  .second-section{
    font-size: 0.8em;
  }

  iframe {
    width: 320px;
    height: 214px;
  }
 
  .fifth-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .first-row, .second-row, .third-row, .fourth-row {
    gap: 8px;
    width: 45%;
   }    

 .center {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
 }

 .container {
  margin: 10px;
 }
}
